.card {
  margin: 0;
  max-height: 387px;
  width: 295px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__heading {
  display: flex;
  position: absolute;
  justify-content: center;
}
.card__title {
  margin: 0;
  padding: 2px 12px;
  top: 15px;
  position: absolute;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  height: 24px;
}

.card__image {
  width: 100%;
  border-radius: 12px;
  border: rgba(0, 0, 0, 0.3) 1px solid;
}

.card__like-button {
  position: absolute;
  top: 20px;
  left: 50px;
  height: 20px;
  width: 20px;
  border: none;
  background-image: url(../../assets/card_like_button_default.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.card__like-button_active {
  background-image: url(../../assets/card_like_button_liked.svg);
}

@media screen and (max-width: 775px) {
  .card {
    width: 250px;
  }
}
